body {
  background-color: #152136;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
  text-align: center;
}

h3 {
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

.navbar img {
  width: 80px;
  height: 80px;
  margin-left: 30%;
  margin-top: 30%;
}

.about {
  margin-bottom: 100px;
}

.about a {
  margin-top: 24px;
  padding: 10px;
  background-color: #FAA900;
  color: #FFFFFF;
}

.about a:hover {
  text-decoration: none;
}

.about h4 {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #FFF;
}

.banner {
  margin-top: 100px;
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.values {
  width: 75%;
}

.value {
  float: left;
  width: 33.33%;
  padding-right: 30px;
}

.feature_logo {
  height: 80%;
  width: 80%;
  margin-bottom: 10px;
}

.value svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.eventTimeline {
    width: 1000px;
    margin: auto;
}

#event {
    margin-left: 62px;
    float: left;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}

#eventImg {
    width: 100px;
    margin: auto;
}

.team {

}

#team-img {
    margin-left: 62px;
    width: 150px;
    float: left;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;

}

.contact {
    margin: auto;
    text-align: center;
}

.contact h2 {
  margin-bottom: 50px;
}

.contact a {
  color: #FFFFFF;
}

.sparklogo {
    margin: auto;
    height: 10px;
}

#spark {
    width: 200px;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 80px;
}

footer {
    height: 10px;
    padding: 10px;
    text-align: center;
}
